body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* start section One */
.section-one{
    display: flex;
    margin-top: 8%;
}
.left_content{
    width: 50%;
    padding-left: 10%;
}
.right_img img{
    width: 50%;
    padding-left: 20%;
}
#left_con_gradient{
    border-left: 3px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 10px;
}
.text_color{
    color: orange;
}
.text_size{
    font-size: 40px;
    padding-left: 10px;
}
.btn{
    text-decoration: none;
    color:rgb(20, 19, 16);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: violet;
    font-weight: 700;
}

/* end top section */

 /* start Mission section */
.mission_section{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
}
.mission_cards{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;

}
.mission_heading{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.mission{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    text-align: left;
    background-color: pink;

}
.mission_img img{
    width: 40%;
}
.miss-con-section{
    padding: 10px;
}

/* end Mission section */

/* Start Vission section */
.vission_heading{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.vission_section{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 50px;
}
.vission{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(228, 192, 198, 0.788);
}
.vission_img img{
    width: 40%;
}
.viss-con-section{
    padding: 10px;
}
/* end vission section */

/* Start Goals section */
.goals_heading{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.goals_section{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 50px;
}
.goals{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    text-align: left;
    background-color: #ffffcc;
}
.goals_img img{
    width: 40%;
}
.goals-con-section{
    padding: 10px;
}
/* end goals section */
/* end Mission section */


/* start three section */
 .section_three{
    display: flex;
    margin-top: 100px;
    margin: 0 auto;
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
 }
 .half-width{
    width: 50%;
    padding-left: 15%;
}
.half-width img{
    width: 80%;
}
/* end three section */


/* start four section */
.section_four{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    
}
.globle_com{
    width: 60%;
}
 
.globle_com_img img{
    width: 300px;
    margin-left: 20%;
}

/* end four section */
/* Start Footer section */
footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(22, 17, 17);
    color: white;
    text-align: center;
    font-family: Luxurious Roman;
 }
/* End footer section */